<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
    <session-factory>
		<!-- DataSource & Connection info. -->
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServer2008Dialect</property>
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="connection.url">jdbc:sqlserver:/DOMAIN:PORT;databaseName=DB_NAME</property> <!--;instanceName=SQLEXPRESS-->
        <property name="hibernate.connection.username">USERNAME</property>
        <property name="hibernate.connection.password">PASSWORD</property>

		<!-- General Hibernate settings. -->
        <property name="show_sql">true</property>
		<property name="use_sql_comments">true</property>
        <property name="current_session_context_class">thread</property>
		
		<!-- Hibernate Connection settings. -->
		<property name="hibernate.c3p0.timeout">30</property> 
		<property name="hibernate.c3p0.min_size">5</property> 
		<property name="hibernate.c3p0.max_size">20</property> 
		<property name="hibernate.c3p0.max_statements">10</property>
		<property name="hibernate.c3p0.idle_test_period">30</property> 
		

		
		<!-- DDL Mode. -->
        <!-- <property name="hbm2ddl.auto">validate</property>--> 
		
		<!-- Mapping from class -->
		<mapping class="model.Customer"/>
        <mapping class="model.Employee"/>
        <mapping class="model.Item"/>
        <mapping class="model.Transaction"/>
        
        
    </session-factory>
</hibernate-configuration>